{% extends "layout.njk" %}


{% block head %}
    <title>{{page.title}}</title>
{% endblock %}

{% block content %}
    <h1>{{page.body}}</h1>
    <button onclick="fetchAllNotes()">fetchAll</button>

    <script type="text/javascript">
        const apiURL = "https://send-notes.herokuapp.com";
        const fetchAllNotes = function (){
            fetch(apiURL+"/notes")
            .then(res => {
                return res.json();
            })
            .then(data => {
                console.log(data);
                console.log("Fetched from: " + apiURL );
            });
        }
    </script>
{% endblock %}


